<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/">
<ShortName>$NAME</ShortName>
<Description>$LONGNAME</Description>
<Image height="$SIZE" width="$SIZE" type="image/x-icon">$FAVICONPATH</Image>
<InputEncoding>UTF-8</InputEncoding>
<Url type="text/html" method="get" template="$PROTO://$HOSTNAME:$PORT/?search={searchTerms}"/>
</OpenSearchDescription>
